.activity-container {
  padding: 3rem 1rem;
}
.card {
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 6rem;
}
.card-header {
  color: dodgerblue;
}
.card-title {
  font-size: 24px;
}
.card-text {
  font-size: 20px;
  text-align: left;
}
.carousel {
  display: none;
}
.carousel img {
  max-width: 100%;
  max-height: 20rem;
  object-fit: scale-down;
}
.grid-album {
  display: flex;
}
@media screen and (max-width: 600px) {
  .grid-album {
    display: block;
  }
}
