.activity-container {
  padding: 3rem 1rem;
}
.card {
  margin-bottom: 6rem;
}
.card-header {
  color: dodgerblue;
}
.card-title {
  font-size: 24px;
}
.card-text {
  font-size: 20px;
  text-align: left;
}
