.activity-container {
  padding: 3rem 1rem;
}
.card {
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 6rem;
}
.card a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card h3 {
  background-color: #fff;
}
.card a img {
  max-width: 40px;
  max-height: 40px;
  object-fit: scale-down;
}
.card-title {
  font-size: 24px;
}
.card-text {
  font-size: 20px;
  text-align: left;
}
.grid-album {
  display: inline;
}
.grid-album img {
  max-width: 60rem;
  object-fit: scale-down;
  margin-bottom: 3rem;
}
@media screen and (max-width: 600px) {
  .grid-album {
    display: block;
  }
  .grid-album img {
    width: 100%;
  }
  .card {
    width: 98%;
  }
}
